<div
  class="row py-5"
  style="
    background-image: url('assets/img/bg.jpg');
    background-size: cover;
    min-height: 500px;
  "
>
  <div class="col-md-12" id="titulo">
    <div class="row">
      <div class="col-md-7"></div>
      <div class="col-md-5">
        <div class="mb-3 bg-dark py-5 px-3 text-center">
          <h4>Contacto</h4>
          <label for="" class="form-label">Email</label>
          <input
            type="email"
            class="form-control mb-5"
            name=""
            id=""
            aria-describedby="emailHelpId"
            placeholder="abc@mail.com"
          />
          <button type="submit" class="btn btn-primary">¡ Enviar ! >></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row py-5" style="background-color: white; min-height: 500px">
  <div class="col-md-12">body</div>
</div>
<div class="row py-5" style="background-color: black; min-height: 200px">
  <div class="col-md-12" id="section1">footer</div>
</div>
